{
	"server": {
		"host": "mailhost.tld",
		"port": 143,
		"options": {
			"requireTLS": true,
			"enableCompression": true,
			"useSecureTransprot": true,
			"auth": {
				"user": "username",
				"pass": "password"
			},
			"logLevel": "debug"
		}
	},
    "excludeFolders": ["INBOX.Useles","Spam"],	
	"pollingDelay": 60,
	"checkMail": true,
	"discourse": {
		"apiurl": "https://discourse.habidat.org",
		"apikey": "apikey",
		"username": "abdul_nachtigaller",
		"allowedGroup": "testgruppe"
	},
	"notifications": {
		"defaultInterval": 7,
		"checkDelay": 10,
		"checkNotifications" : true
	}

	
}